.rainbow-1 {
  background-color: hsl(172.79999999999998, 70%, 80%);
}

.rainbow-2 {
  background-color: hsl(14.4, 70%, 80%);
}

.rainbow-3 {
  background-color: hsl(216, 70%, 80%);
}

.rainbow-4 {
  background-color: hsl(324, 70%, 80%);
}

.rainbow-5 {
  background-color: hsl(7.2, 70%, 80%);
}

.rainbow-6 {
  background-color: hsl(352.8, 70%, 80%);
}

.rainbow-7 {
  background-color: hsl(90, 70%, 80%);
}

.rainbow-8 {
  background-color: hsl(32.4, 70%, 80%);
}

.rainbow-9 {
  background-color: hsl(36, 70%, 80%);
}

.rainbow-10 {
  background-color: hsl(198.00000000000003, 70%, 80%);
}

.rainbow-11 {
  background-color: hsl(248.39999999999998, 70%, 80%);
}

.rainbow-12 {
  background-color: hsl(194.4, 70%, 80%);
}

.rainbow-13 {
  background-color: hsl(244.8, 70%, 80%);
}

.rainbow-14 {
  background-color: hsl(129.6, 70%, 80%);
}

.rainbow-15 {
  background-color: hsl(180, 70%, 80%);
}

.rainbow-16 {
  background-color: hsl(147.6, 70%, 80%);
}

.rainbow-17 {
  background-color: hsl(165.6, 70%, 80%);
}

.rainbow-18 {
  background-color: hsl(316.8, 70%, 80%);
}

.rainbow-19 {
  background-color: hsl(57.6, 70%, 80%);
}

.rainbow-20 {
  background-color: hsl(108, 70%, 80%);
}

.rainbow-21 {
  background-color: hsl(72, 70%, 80%);
}

.rainbow-22 {
  background-color: hsl(111.6, 70%, 80%);
}

.rainbow-23 {
  background-color: hsl(288, 70%, 80%);
}

.rainbow-24 {
  background-color: hsl(176.4, 70%, 80%);
}

.rainbow-25 {
  background-color: hsl(230.4, 70%, 80%);
}

.rainbow-26 {
  background-color: hsl(86.39999999999999, 70%, 80%);
}

.rainbow-27 {
  background-color: hsl(208.79999999999998, 70%, 80%);
}

.rainbow-28 {
  background-color: hsl(262.8, 70%, 80%);
}

.rainbow-29 {
  background-color: hsl(309.6, 70%, 80%);
}

.rainbow-30 {
  background-color: hsl(79.2, 70%, 80%);
}

.rainbow-31 {
  background-color: hsl(151.2, 70%, 80%);
}

.rainbow-32 {
  background-color: hsl(82.8, 70%, 80%);
}

.rainbow-33 {
  background-color: hsl(266.4, 70%, 80%);
}

.rainbow-34 {
  background-color: hsl(313.2, 70%, 80%);
}

.rainbow-35 {
  background-color: hsl(342, 70%, 80%);
}

.rainbow-36 {
  background-color: hsl(306, 70%, 80%);
}

.rainbow-37 {
  background-color: hsl(302.4, 70%, 80%);
}

.rainbow-38 {
  background-color: hsl(64.8, 70%, 80%);
}

.rainbow-39 {
  background-color: hsl(158.4, 70%, 80%);
}

.rainbow-40 {
  background-color: hsl(133.2, 70%, 80%);
}

.rainbow-41 {
  background-color: hsl(327.6, 70%, 80%);
}

.rainbow-42 {
  background-color: hsl(201.60000000000002, 70%, 80%);
}

.rainbow-43 {
  background-color: hsl(0, 70%, 80%);
}

.rainbow-44 {
  background-color: hsl(3.6, 70%, 80%);
}

.rainbow-45 {
  background-color: hsl(226.8, 70%, 80%);
}

.rainbow-46 {
  background-color: hsl(241.20000000000002, 70%, 80%);
}

.rainbow-47 {
  background-color: hsl(144, 70%, 80%);
}

.rainbow-48 {
  background-color: hsl(122.4, 70%, 80%);
}

.rainbow-49 {
  background-color: hsl(223.2, 70%, 80%);
}

.rainbow-50 {
  background-color: hsl(234, 70%, 80%);
}

.rainbow-51 {
  background-color: hsl(270, 70%, 80%);
}

.rainbow-52 {
  background-color: hsl(43.199999999999996, 70%, 80%);
}

.rainbow-53 {
  background-color: hsl(277.2, 70%, 80%);
}

.rainbow-54 {
  background-color: hsl(136.8, 70%, 80%);
}

.rainbow-55 {
  background-color: hsl(320.4, 70%, 80%);
}

.rainbow-56 {
  background-color: hsl(345.59999999999997, 70%, 80%);
}

.rainbow-57 {
  background-color: hsl(183.6, 70%, 80%);
}

.rainbow-58 {
  background-color: hsl(334.8, 70%, 80%);
}

.rainbow-59 {
  background-color: hsl(68.4, 70%, 80%);
}

.rainbow-60 {
  background-color: hsl(255.6, 70%, 80%);
}

.rainbow-61 {
  background-color: hsl(259.2, 70%, 80%);
}

.rainbow-62 {
  background-color: hsl(349.2, 70%, 80%);
}

.rainbow-63 {
  background-color: hsl(273.6, 70%, 80%);
}

.rainbow-64 {
  background-color: hsl(298.8, 70%, 80%);
}

.rainbow-65 {
  background-color: hsl(237.60000000000002, 70%, 80%);
}

.rainbow-66 {
  background-color: hsl(280.8, 70%, 80%);
}

.rainbow-67 {
  background-color: hsl(331.2, 70%, 80%);
}

.rainbow-68 {
  background-color: hsl(54, 70%, 80%);
}

.rainbow-69 {
  background-color: hsl(115.2, 70%, 80%);
}

.rainbow-70 {
  background-color: hsl(97.2, 70%, 80%);
}

.rainbow-71 {
  background-color: hsl(190.8, 70%, 80%);
}

.rainbow-72 {
  background-color: hsl(169.2, 70%, 80%);
}

.rainbow-73 {
  background-color: hsl(212.39999999999998, 70%, 80%);
}

.rainbow-74 {
  background-color: hsl(251.99999999999997, 70%, 80%);
}

.rainbow-75 {
  background-color: hsl(162, 70%, 80%);
}

.rainbow-76 {
  background-color: hsl(125.99999999999999, 70%, 80%);
}

.rainbow-77 {
  background-color: hsl(39.6, 70%, 80%);
}

.rainbow-78 {
  background-color: hsl(21.599999999999998, 70%, 80%);
}

.rainbow-79 {
  background-color: hsl(100.80000000000001, 70%, 80%);
}

.rainbow-80 {
  background-color: hsl(295.2, 70%, 80%);
}

.rainbow-81 {
  background-color: hsl(187.20000000000002, 70%, 80%);
}

.rainbow-82 {
  background-color: hsl(356.4, 70%, 80%);
}

.rainbow-83 {
  background-color: hsl(75.6, 70%, 80%);
}

.rainbow-84 {
  background-color: hsl(10.799999999999999, 70%, 80%);
}

.rainbow-85 {
  background-color: hsl(338.4, 70%, 80%);
}

.rainbow-86 {
  background-color: hsl(205.2, 70%, 80%);
}

.rainbow-87 {
  background-color: hsl(18, 70%, 80%);
}

.rainbow-88 {
  background-color: hsl(104.39999999999999, 70%, 80%);
}

.rainbow-89 {
  background-color: hsl(25.200000000000003, 70%, 80%);
}

.rainbow-90 {
  background-color: hsl(93.60000000000001, 70%, 80%);
}

.rainbow-91 {
  background-color: hsl(140.4, 70%, 80%);
}

.rainbow-92 {
  background-color: hsl(28.8, 70%, 80%);
}

.rainbow-93 {
  background-color: hsl(291.6, 70%, 80%);
}

.rainbow-94 {
  background-color: hsl(284.40000000000003, 70%, 80%);
}

.rainbow-95 {
  background-color: hsl(154.8, 70%, 80%);
}

.rainbow-96 {
  background-color: hsl(118.80000000000001, 70%, 80%);
}

.rainbow-97 {
  background-color: hsl(61.2, 70%, 80%);
}

.rainbow-98 {
  background-color: hsl(46.800000000000004, 70%, 80%);
}

.rainbow-99 {
  background-color: hsl(219.6, 70%, 80%);
}

.rainbow-100 {
  background-color: hsl(50.400000000000006, 70%, 80%);
}

